################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.pio/
.vscode/
.vs/
/icons.avif
