################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/interface-cars-car-dashboard-icons-vector-illustration_924514-967.avif
